## Step 1: Reading CSV file & Removing columns that cause leakage
Using data collected after the show would be cheating and while they will give good results according to train data but will be failure in production. 
We drop them here to ensure only pre-show features remain.

In [63]:
# Import necessary libraries
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [64]:
dataset = pd.read_csv("tour_logs_train.csv")
dataset.head()

,Gig_ID,Venue_ID,Show_DateTime,Day_of_Week,Volume_Level,Ticket_Price,Crowd_Size,Opener_Rating,Weather,Moon_Phase,Band_Outfit,Merch_Sales_Post_Show,Crowd_Energy
0,Gig_0000,V_Alpha,2024-03-07 21:00:00,3,5.0,52.93,464.0,2,Rainy,Waning Crescent,Leather,916,64.96
1,Gig_0001,V_Beta,2024-09-05 22:00:00,3,2.0,66.33,388.0,5,Clear,New Moon,Leather,1003,66.42
2,Gig_0002,V_Delta,2024-03-09 15:00:00,5,1.0,51.37,679.0,1,Rainy,Waning Crescent,Denim,720,42.58
3,Gig_0003,V_Beta,08/07/2024 8:00 AM,0,10.0,64.77,454.0,1,Rainy,New Moon,Leather,0,0.00
4,Gig_0004,V_Delta,2024-04-26 17:00:00,4,8.0,47.34,654.0,5,Cloudy,Full Moon,Spandex,950,67.55

In [65]:
dataset.columns

Index(['Gig_ID', 'Venue_ID', 'Show_DateTime', 'Day_of_Week', 'Volume_Level',
       'Ticket_Price', 'Crowd_Size', 'Opener_Rating', 'Weather', 'Moon_Phase',
       'Band_Outfit', 'Merch_Sales_Post_Show', 'Crowd_Energy'],
      dtype='object')

In [66]:
# Gig_ID                - Just a ID - DROP
# Venue_ID              - Known Before Show
# Show_DateTime         - Known Before Show
# Day_of_Week           - Can be found out from the column before it - 
# Volume_Level          - Known Before Show
# Ticket_Price          - Known Before Show
# Crowd_Size            - CANT BE KNOWN BEFORE SHOW (LEAKAGE) - DROP
# Opener_Rating         - Known Before Show
# Weather               - Known Before Show
# Moon_Phase            - Known Before Show
# Band_Outfit           - Known Before Show
# Merch_Sales_Post_Show - CANT BE KNOWN BEFORE SHOW (LEAKAGE) - DROP
# Crowd_Energy          - TO FIND BY REGRESSION


#########################################
##########################################
#######################################

In [67]:
# This contains unnecessary columns and columns that cause leakage 
columns_to_drop = ['Gig_ID','Crowd_Size','Merch_Sales_Post_Show']

In [68]:
dataset = dataset.drop(columns=columns_to_drop)

In [69]:
dataset

,Venue_ID,Show_DateTime,Day_of_Week,Volume_Level,Ticket_Price,Opener_Rating,Weather,Moon_Phase,Band_Outfit,Crowd_Energy
0,V_Alpha,2024-03-07 21:00:00,3,5.0,52.93,2,Rainy,Waning Crescent,Leather,64.96
1,V_Beta,2024-09-05 22:00:00,3,2.0,66.33,5,Clear,New Moon,Leather,66.42
2,V_Delta,2024-03-09 15:00:00,5,1.0,51.37,1,Rainy,Waning Crescent,Denim,42.58
3,V_Beta,08/07/2024 8:00 AM,0,10.0,64.77,1,Rainy,New Moon,Leather,0.00
4,V_Delta,2024-04-26 17:00:00,4,8.0,47.34,5,Cloudy,Full Moon,Spandex,67.55
...,...,...,...,...,...,...,...,...,...,...
1995,V_Alpha,2024-06-16 20:00:00,6,NaN,57.34,5,Stormy,First Quarter,Denim,40.67
1996,V_Beta,05-23-2024 23:00,3,7.0,26.94,5,Stormy,Full Moon,Spandex,65.60
1997,V_Beta,Late Night,4,2.0,57.54,1,Rainy,Waning Gibbous,Leather,60.34
1998,V_Beta,"May 28, 2024",1,9.0,53.37,1,Rainy,Waning Gibbous,Leather,150.00
1999,V_Alpha,2024-08-21 19:00:00,2,6.0,80.86,4,Clear,Full Moon,Spandex,60.74

## Data Cleaning

In [70]:
# crowd energy
dataset = dataset[(dataset['Crowd_Energy'] >= 0) & (dataset['Crowd_Energy'] <= 100)]
# As these crowd energy are out of range (0-100) , we cannot use them for training. 
# So we remove these rows entirely 
dataset

,Venue_ID,Show_DateTime,Day_of_Week,Volume_Level,Ticket_Price,Opener_Rating,Weather,Moon_Phase,Band_Outfit,Crowd_Energy
0,V_Alpha,2024-03-07 21:00:00,3,5.0,52.93,2,Rainy,Waning Crescent,Leather,64.96
1,V_Beta,2024-09-05 22:00:00,3,2.0,66.33,5,Clear,New Moon,Leather,66.42
2,V_Delta,2024-03-09 15:00:00,5,1.0,51.37,1,Rainy,Waning Crescent,Denim,42.58
3,V_Beta,08/07/2024 8:00 AM,0,10.0,64.77,1,Rainy,New Moon,Leather,0.00
4,V_Delta,2024-04-26 17:00:00,4,8.0,47.34,5,Cloudy,Full Moon,Spandex,67.55
...,...,...,...,...,...,...,...,...,...,...
1994,V_Beta,18/08/2024 08:00 PM,6,4.0,62.86,4,Cloudy,Waxing Gibbous,Denim,61.32
1995,V_Alpha,2024-06-16 20:00:00,6,NaN,57.34,5,Stormy,First Quarter,Denim,40.67
1996,V_Beta,05-23-2024 23:00,3,7.0,26.94,5,Stormy,Full Moon,Spandex,65.60
1997,V_Beta,Late Night,4,2.0,57.54,1,Rainy,Waning Gibbous,Leather,60.34
1999,V_Alpha,2024-08-21 19:00:00,2,6.0,80.86,4,Clear,Full Moon,Spandex,60.74

In [71]:
# making date and time format same 
# BHT BADA CODE
dataset['Show_DateTime_original'] = dataset['Show_DateTime'].copy()

# Step 1: Try default parsing (handles most ISO and "Month DD, YYYY" formats)
dataset['Show_DateTime'] = pd.to_datetime(dataset['Show_DateTime'], errors='coerce')
step1_success = dataset['Show_DateTime'].notna().sum()
print(f"   Step 1 (default): {step1_success} rows parsed")

# Step 2: Try DD/MM/YYYY HH:MM AM/PM format
mask = dataset['Show_DateTime'].isna()
if mask.any():
    dataset.loc[mask, 'Show_DateTime'] = pd.to_datetime(
        dataset.loc[mask, 'Show_DateTime_original'],
        format='%d/%m/%Y %I:%M %p',
        errors='coerce'
    )
    step2_success = dataset.loc[mask, 'Show_DateTime'].notna().sum()
    print(f"   Step 2 (DD/MM/YYYY HH:MM AM/PM): {step2_success} additional rows parsed")

# Step 3: Try MM-DD-YYYY HH:MM format (24-hour, two-digit hour)
mask = dataset['Show_DateTime'].isna()
if mask.any():
    dataset.loc[mask, 'Show_DateTime'] = pd.to_datetime(
        dataset.loc[mask, 'Show_DateTime_original'],
        format='%m-%d-%Y %H:%M',
        errors='coerce'
    )
    step3_success = dataset.loc[mask, 'Show_DateTime'].notna().sum()
    print(f"   Step 3 (MM-DD-YYYY HH:MM): {step3_success} additional rows parsed")

# Step 4: Try MM-DD-YYYY H:MM format (24-hour, single-digit hour)
mask = dataset['Show_DateTime'].isna()
if mask.any():
    # Manually parse since %k isn't reliable across platforms
    for idx in dataset[mask].index:
        try:
            val = str(dataset.loc[idx, 'Show_DateTime_original'])
            # Check if it matches pattern like "08-31-2024 9:00"
            match = re.match(r'(\d{2})-(\d{2})-(\d{4})\s+(\d{1,2}):(\d{2})', val)
            if match:
                month, day, year, hour, minute = match.groups()
                df.loc[idx, 'Show_DateTime'] = pd.to_datetime(
                    f"{year}-{month}-{day} {hour.zfill(2)}:{minute}"
                )
        except:
            pass
    step4_success = dataset.loc[mask, 'Show_DateTime'].notna().sum()
    print(f"   Step 4 (MM-DD-YYYY H:MM single digit): {step4_success} additional rows parsed")

# Step 5: Try "Month DD, YYYY" format explicitly (date-only)
mask = dataset['Show_DateTime'].isna()
if mask.any():
    dataset.loc[mask, 'Show_DateTime'] = pd.to_datetime(
        dataset.loc[mask, 'Show_DateTime_original'],
        format='%B %d, %Y',  # %B = full month name
        errors='coerce'
    )
    step5_success = dataset.loc[mask, 'Show_DateTime'].notna().sum()
    print(f"   Step 5 (Month DD, YYYY date-only): {step5_success} additional rows parsed")

# Step 6: Handle text-only times like "Late Night", "Evening", "Morning", "Afternoon"
time_mappings = {
    'late night': '23:00:00',
    'evening': '20:00:00',
    'afternoon': '15:00:00',
    'morning': '10:00:00'
}

mask = dataset['Show_DateTime'].isna()
if mask.any():
    default_date = '2024-06-01'  # Use mid-year date
    
    for text_time, actual_time in time_mappings.items():
        text_mask = dataset['Show_DateTime_original'].astype(str).str.lower().str.strip() == text_time
        combined_mask = mask & text_mask
        if combined_mask.any():
            dataset.loc[combined_mask, 'Show_DateTime'] = pd.to_datetime(
                f"{default_date} {actual_time}"
            )
            count = combined_mask.sum()
            print(f"   Step 6: Mapped '{text_time}' ({count} rows) to {actual_time}")

# Final summary
remaining_failed = dataset['Show_DateTime'].isna().sum()
print(f"\n2.3 Conversion Summary:")
print(f"   ✓ Successfully parsed: {df['Show_DateTime'].notna().sum()} / {len(dataset)}")
print(f"   ✗ Failed to parse: {remaining_failed} ({remaining_failed/len(dataset)*100:.2f}%)")

if remaining_failed > 0:
    print(f"\n   ⚠️  Remaining failed values (unique):")
    failed_unique = dataset[dataset['Show_DateTime'].isna()]['Show_DateTime_original'].unique()
    print(f"   Total unique failed formats: {len(failed_unique)}")
    print(f"   Sample: {failed_unique[:5]}")

   Step 1 (default): 1658 rows parsed
   Step 2 (DD/MM/YYYY HH:MM AM/PM): 99 additional rows parsed
   Step 3 (MM-DD-YYYY HH:MM): 100 additional rows parsed
   Step 4 (MM-DD-YYYY H:MM single digit): 0 additional rows parsed
   Step 5 (Month DD, YYYY date-only): 92 additional rows parsed
   Step 6: Mapped 'late night' (16 rows) to 23:00:00
   Step 6: Mapped 'evening' (12 rows) to 20:00:00
   Step 6: Mapped 'afternoon' (5 rows) to 15:00:00
   Step 6: Mapped 'morning' (10 rows) to 10:00:00

2.3 Conversion Summary:
   ✓ Successfully parsed: 1992 / 1992
   ✗ Failed to parse: 0 (0.00%)

C:\Users\LOQ\AppData\Local\Temp\ipykernel_17476\2512068209.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['Show_DateTime_original'] = dataset['Show_DateTime'].copy()
C:\Users\LOQ\AppData\Local\Temp\ipykernel_17476\2512068209.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['Show_DateTime'] = pd.to_datetime(dataset['Show_DateTime'], errors='coerce')

In [72]:
# volume level 
dataset.loc[dataset['Volume_Level'] <= 0, 'Volume_Level'] = np.nan
dataset.loc[dataset['Volume_Level'] > 11, 'Volume_Level'] = np.nan
dataset['Volume_Level'] = dataset['Volume_Level'].fillna(dataset['Volume_Level'].median())

C:\Users\LOQ\AppData\Local\Temp\ipykernel_17476\898373084.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['Volume_Level'] = dataset['Volume_Level'].fillna(dataset['Volume_Level'].median())

In [73]:
# Ticket Price 
import pandas as pd
import re

dataset['Ticket_Price_original'] = dataset['Ticket_Price']

# Convert to USD
prices = []
for price in dataset['Ticket_Price']:
    if pd.isna(price):
        prices.append(None)
        continue
    
    price_str = str(price).strip().lower()
    
    # Handle free tickets
    if 'free' in price_str or 'comp' in price_str:
        prices.append(0)
        continue
    
    # Extract number
    numbers = re.findall(r'\d+\.?\d*', price_str)
    if not numbers:
        prices.append(None)
        continue
    
    value = float(numbers[0])
    
    # Convert based on symbol
    if '£' in price_str:
        prices.append(value * 1.27)
    elif '€' in price_str:
        prices.append(value * 1.09)
    else:
        prices.append(value)

dataset['Ticket_Price_USD'] = prices

print(f"Converted {dataset['Ticket_Price_USD'].notna().sum()} prices")
print(f"Missing: {dataset['Ticket_Price_USD'].isna().sum()}")
print(f"\nPrice range: ${dataset['Ticket_Price_USD'].min():.2f} - ${dataset['Ticket_Price_USD'].max():.2f}")

# Show failed conversions
failed = dataset[dataset['Ticket_Price_USD'].isna()]
if len(failed) > 0:
    print(f"\nFailed to convert {len(failed)} prices:")
    print(failed['Ticket_Price_original'].unique())

Converted 1992 prices
Missing: 0

Price range: $0.00 - $120.00

C:\Users\LOQ\AppData\Local\Temp\ipykernel_17476\1637047637.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['Ticket_Price_original'] = dataset['Ticket_Price']
C:\Users\LOQ\AppData\Local\Temp\ipykernel_17476\1637047637.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['Ticket_Price_USD'] = prices

In [74]:
# Opener_Rating
dataset.loc[dataset['Opener_Rating'] < 1, 'Opener_Rating'] = np.nan
dataset.loc[dataset['Opener_Rating'] > 5, 'Opener_Rating'] = np.nan
dataset['Opener_Rating'] = dataset['Opener_Rating'].fillna(dataset['Opener_Rating'].median())

C:\Users\LOQ\AppData\Local\Temp\ipykernel_17476\1296498603.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['Opener_Rating'] = dataset['Opener_Rating'].fillna(dataset['Opener_Rating'].median())

# EDA

In [75]:
dataset['Crowd_Energy'].describe()

count    1992.000000
mean       53.200838
std        21.153674
min         0.000000
25%        43.150000
50%        55.470000
75%        67.307500
max       100.000000
Name: Crowd_Energy, dtype: float64

In [76]:
dataset.groupby('Venue_ID')['Crowd_Energy'].describe()

          count       mean        std    min     25%    50%     75%     max
Venue_ID
V_Alpha   487.0  48.470616  16.630835   0.00  36.185  51.76  60.705   86.67
V_Beta    483.0  39.482754  25.243370   0.00  10.865  48.98  59.010   89.50
V_Delta   539.0  55.996067  14.942560   0.00  45.350  55.10  67.240   91.79
V_Gamma   483.0  68.569006  15.049223  17.33  58.660  70.28  80.030  100.00

In [61]:
dataset['weekday'] = dataset['Show_DateTime'].dt.day_name()

dataset.groupby('weekday')['Crowd_Energy'].mean().sort_values()

C:\Users\LOQ\AppData\Local\Temp\ipykernel_17476\3410492581.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['weekday'] = dataset['Show_DateTime'].dt.day_name()

weekday
Friday       50.682476
Wednesday    51.682720
Monday       51.941672
Tuesday      52.767492
Thursday     53.210687
Saturday     53.468738
Sunday       58.596211
Name: Crowd_Energy, dtype: float64

In [62]:
d.boxplot(column='Crowd_Energy', by='weekday', figsize=(10,4))

NameError: name 'df' is not defined